<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<ul><li *ngFor="let item of datos">{{item.nombre}}</li></ul>
<table class="table">
  <thead>
  <tr>
    <th>Título</th>
    <th>Autor</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of libros">
    <td>{{item.titulo}}</td>
    <td>{{item.autor}}</td>
  </tr>
  </tbody>
</table>

<h2>{{libros|json}}</h2>

<div *ngIf="login">
    <h1>Estoy Loggeado</h1>
    <div id="menu_logout">
        <button (click)="desloguear()">Desloguear</button>
    </div>
</div>
<div *ngIf="!login">
    <h1>No estoy Loggeado</h1>
    <div id="menu_login">
        <button (click)="loguear()">Loguear</button>
    </div>
</div>
